* {
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    color: rgb(74, 72, 72);
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: "Organo";
    font-style: normal;
    font-weight: 400;
    src: local("Organo"),
        url("/ProgJS_les/Practice_3_TODO/font/Organo.woff") format("woff");
}

body {
    padding: 50px 15px 50px 20px;
    color: rgb(44, 43, 43);
    background: linear-gradient(90deg, rgb(245, 196, 196) 30%, rgb(250, 164, 164) 70%);
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    width: 100%;
    align-items: center;
    font-size: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 100, 100);
    border: none;
    padding: 10px 12px;
    border-radius: 20px;
    max-height: 40px;
    width: 100%;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 2px 4px 7px -5px rgba(34, 60, 80, 0.6);
}

.container-window-set-notification,
.container-window-disable-notification {
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.container-window-set-notification .border-window,
.container-window-disable-notification .border-window {
    position: fixed;
    display: flex;
    max-width: 300px;
    top: 160px;
    padding: 10px;
    background-color: rgb(249, 158, 158);
    box-shadow: 4px 4px 7px -5px rgba(34, 60, 80, 0.6);
    width: 100%;
    border-radius: 15px;
}

.container-window-set-notification .window-set-notification,
.container-window-disable-notification .window-disable-notification {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 7px 7px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 7px -4px rgba(34, 60, 80, 0.38) inset;
    background-color: rgb(247, 139, 139);
    width: 100%;
    border-radius: 10px;
}

.container-window-set-notification .window-set-notification .title,
.container-window-disable-notification .window-disable-notification .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.container-window-set-notification .window-set-notification .set-time-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.container-window-set-notification .window-set-notification .set-time-notification .button-minus-sec,
.container-window-set-notification .window-set-notification .set-time-notification .button-plus-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border-radius: 9px;
    max-width: 10px;
    max-height: 10px;
    width: 100%;
    height: 100%;
}

.container-window-set-notification .window-set-notification .set-time-notification .time-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.container-window-set-notification .window-set-notification .button-place-set-notification,
.container-window-disable-notification .window-disable-notification .button-place-disable-notification {
    display: flex;
    margin-top: 4px;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.container-window-set-notification .window-set-notification .button-place-set-notification .button-set-notification,
.container-window-set-notification .window-set-notification .button-place-set-notification .button-exit-from-set-notification,
.container-window-disable-notification .window-disable-notification .button-place-disable-notification .button-disable-notification-yes,
.container-window-disable-notification .window-disable-notification .button-place-disable-notification .button-disable-notification-no {
    max-width: 135px;
    min-height: 30px;
}

.container-window-set-notification .window-set-notification .button-place-set-notification .button-exit-from-set-notification,
.container-window-disable-notification .window-disable-notification .button-place-disable-notification .button-disable-notification-no {
    background-color: rgb(247, 202, 202);
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    max-width: 700px;
    width: 100%;
    background-color: rgb(249, 158, 158);
    box-shadow: 4px 4px 7px -5px rgba(34, 60, 80, 0.6);

}

.todo-list .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 4px 4px 7px -4px rgba(34, 60, 80, 0.38) inset;
    background-color: rgb(247, 139, 139);
    border-radius: 10px;
    padding: 10px;
}

.todo-list .title .todo-list-name {
    font-size: 40px;
    font-weight: bold;
    font-family: "Organo";
    color: rgb(58, 131, 167);
}

.todo-list .todo-list-area-add-task {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.todo-list .todo-list-area-add-task .add-task {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

.todo-list .todo-list-area-add-task .add-task .add-text-task {
    background-color: rgb(247, 202, 202);
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px 15px;
    width: 100%;
    box-shadow: 2px 4px 7px -5px rgba(34, 60, 80, 0.6);

}

.todo-list .todo-list-area-add-task .add-task .button-add-task {
    max-width: 200px;
}

.todo-list .list-of-tasks {
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 4px 4px 7px -4px rgba(34, 60, 80, 0.38) inset;
    background-color: rgb(247, 139, 139);
    border-radius: 10px;
    padding: 25px 5px;
    min-height: 250px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.todo-list .list-of-tasks .tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.todo-list .list-of-tasks .tasks .container-task {
    display: flex;
    padding: 0 8px;
    justify-content: space-between;
}

.todo-list .list-of-tasks .tasks .container-task .task {
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    background-color: rgba(253, 228, 228, 0.507);
    width: 100%;
    box-shadow: 2px 4px 7px -5px rgba(34, 60, 80, 0.6);
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5px;
    align-items: center;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-body {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding-left: 10px;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-checkbox {
    appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    background: rgba(245, 100, 100, 0.656);
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
    border-radius: 7.5px;
    min-width: 15px;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-checkbox:hover {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: 100ms;
    border: 1px solid rgb(87, 86, 86);
    position: relative;
    min-width: 20px;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-checkbox::after {
    content: "\2713";
    position: absolute;
    top: -12px;
    left: 1px;
    width: 0px;
    height: 0px;
    font-size: 22px;
    overflow: hidden;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-checkbox:hover::after {
    top: -9px;
    left: 2px;
    transition: 100ms;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-checkbox:checked::after {
    width: 30px;
    height: 30px;
    transition: 100ms;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .task-text-and-checkbox .task-checkbox:checked+.task-body {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.todo-list .list-of-tasks .tasks .container-task .task:has(.task-checkbox:checked) {
    background-color: rgba(253, 228, 228, 0.189);
}

.todo-list .list-of-tasks .tasks .container-task:has(.task-checkbox:checked) .notification .button-notification {
    display: none;
}

.todo-list .list-of-tasks .tasks .container-task .task:has(.task-checkbox:hover) {
    background-color: rgba(246, 233, 233, 0.699);
}

.todo-list .list-of-tasks .tasks .container-task:has(.task-checkbox:hover) {
    padding: 0;
}

.todo-list .list-of-tasks .tasks .container-task .task .button-delete-task {
    max-width: 115px;
    margin: 5px 5px 5px 0px;
}

.todo-list .list-of-tasks .tasks .container-task .task:has(.button-delete-task:hover) {
    background-color: rgba(246, 233, 233, 0.699);
}

.todo-list .list-of-tasks .tasks .container-task:has(.button-delete-task:hover) {
    padding: 0;
}

.todo-list .list-of-tasks .tasks .container-task .task .task-content .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.todo-list .list-of-tasks .tasks .container-task .task .notification .button-notification {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}

.todo-list .list-of-tasks .tasks .container-task .task .notification .button-notification .notification-icon {
    max-width: 25px;
    max-height: 25px;
}

.todo-list .list-of-tasks .tasks .container-task .task:has(.button-notification:hover) {
    background-color: rgba(246, 233, 233, 0.699);
}

.todo-list .list-of-tasks .tasks .container-task:has(.button-notification:hover) {
    padding: 0;
}

.todo-list .list-of-tasks .buttons-filter {
    display: flex;
    gap: 5px;
    justify-content: center;
    max-width: 550px;
    width: 100%;
}

.todo-list .list-of-tasks .buttons-filter .button-show-all-tasks {
    max-width: 120px;
}